* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
}
.btn {
  width: 140px;
  height: 30px;
  border: 1px solid #30409f;
  outline: none;
  background: #fff;
  color: #30409f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn-blue {
  background: #30409f;
  color: #fff;
}
.btn:hover {
  background: #e5e5e5;
  color: #30409f;
}
.input__box {
  max-width: 70%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input__box + .input__box {
  margin-top: 10px;
}
.input__box label {
  font-size: 12px;
}
.input__box input {
  width: 100%;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  transition: all 0.2s;
}
.input__box input:focus {
  padding: 10px 0;
  width: 90%;
  font-size: 17px;
  border-bottom: 2px solid #000;
}
.content__wrapper {
  width: 100%;
  padding: 25px 30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.avatar-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(197, 197, 197);
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.avatar-mid img {
  max-width: 100%;
  max-height: 100%;
}
.avatar-small {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(197, 197, 197);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.avatar-small img {
  max-width: 100%;
  max-height: 100%;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
}
header .left__header {
  display: flex;
  align-items: center;
}
.left__header .logo {
  width: 150px;
  cursor: pointer;
}
.left__header .logo img {
  width: 100%;
}
.left__header .header__nav {
  margin-left: 30px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav li {
  cursor: pointer;
}
.header__nav li:hover {
  font-weight: bold;
}

header .right__header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}
.right__header i {
}
.right__header span {
  padding-top: 3px;
  font-size: 18px;
}

.visual__section {
  background: #30409f;
  height: 160px;
}
.visual__section .inner {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.visual__section .inner .visual__left {
  display: flex;
  align-items: center;
  position: relative;
  top: 40px;
}
.visual__left .avatar {
  margin-right: 50px;
  width: 160px;
  height: 160px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 5px gray;
  position: relative;
}

.avatar img {
  width: 99%;
  height: 99%;
  border: 1px solid #e5e5e5;
}
.avatar h1 {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.avatar:hover h1 {
  opacity: 1;
}
.visual__left .main__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 30px;
}
.main__info strong {
  font-size: 18px;
  font-weight: bold;
}
.visual__left .people__info {
  display: flex;
  gap: 30px;
}
.people__info li {
  font-size: 14px;
  color: #000;
}
.people__info li strong {
  font-weight: bold;
}

.content__section {
  padding-top: 100px;
  background: #f7fbff;
  height: 1800px;
}

.content__section .section__title {
  border-bottom: 1px solid #707070;
  margin-bottom: 20px;
}
.section__title ul {
  margin: 0 20px;
  display: flex;
  gap: 30px;
}
.section__title li {
  padding: 5px 10px;
  font-size: 18px;
}
.section__title .nav-active {
  font-size: 23px;
  font-weight: bold;
}

.main__main__section {
  display: flex;
  gap: 20px;
}
.main__section__left {
  flex: 2;
}
.main__section__right {
  flex: 6;
}
.btn-facebook {
  background-image: url("../assets/facebook.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #4268b2;
}
.btn-facebook:hover {
  background-image: url("../assets/facebook.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #4268b2;

  box-shadow: 0 0 10px gray;
}
.btn-katok {
  background-image: url("../assets/kakao.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #fee500;
}
.btn-katok:hover {
  background-image: url("../assets/kakao.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #fee500;
  box-shadow: 0 0 10px gray;
}

/* 메인메뉴 */
@keyframes slideMenu {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideOffMenu {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2000px);
  }
}
.main__menu__container {
  position: fixed;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #30409f;
  z-index: 888;
  color: #fff;
  display: none;
  animation: slideMenu 0.5s ease-in-out forwards;
}
.main__menu-active {
  display: initial;
}
.main__menu__container .inner {
  display: flex;
  gap: 200px;
}
.main__menu__container .menu__left {
  flex: 2;
}
.main__menu__container .menu__right {
  flex: 1;
}
.menu__left .search__box {
  position: relative;
  height: 42px;
}
.menu__left .search__box input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  height: 100%;
  font-size: 18px;
  color: #fff;
  outline: none;
  transition: all 0.2s;
  padding: 0 15px;
}
.search__box input:focus {
  border-bottom: 3px solid #fff;
  background: #3b4fc0;
}
.menu__left .search__box i {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 30px;
}

.menu__nav {
  flex: 1;
  margin-top: 150px;
}
.menu__nav li + li {
  margin-top: 25px;
}
.menu__nav a {
  color: #fff;
  font-size: 55px;
  letter-spacing: 2px;
  font-weight: bold;
}
.menu__nav a:hover {
  text-decoration: underline;
}

.menu__right p {
  text-align: end;
  font-size: 30px;
  margin-bottom: 100px;
}
.menu__right p b {
  font-size: 35px;
  font-weight: bold;
}
.menu__right ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu__right ul li {
  cursor: pointer;
  font-size: 23px;
  padding: 5px 0;
}
.menu__right ul li + li {
  margin-top: 5px;
}
.menu__right ul li:hover {
  text-decoration: underline;
}

/* 모달레이아웃 */
@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes modalSlideOpen {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes modalSlideClose {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}
.modal__wrapper {
  z-index: 9999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  animation: modalFadeIn 0.3s ease-in-out forwards;
}
.modal-active {
  display: flex;
}
.modal-active .modal__box {
  animation: modalSlideClose 0.3s ease-in-out forwards;
}
.modal__wrapper .modal__box {
  width: 400px;
  padding: 25px 30px;
  background: #fff;
  animation: modalSlideOpen 0.3s ease-in-out forwards;
}
.modal__box h1 {
  font-weight: bold;
  font-size: 23px;
}
.modal__box .input__box {
  max-width: 100%;
}
.modal__box .login__btn__wrapper {
  align-self: flex-end;
}
.modal__box .modal__form {
  display: flex;
  flex-direction: column;
}
.modal__box select {
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("../assets/keyboard_arrow_down-24px.svg") no-repeat 100% 50%; /* 화살표 모양의 이미지 */
}
.modal__box select::-ms-expand {
  display: none;
}

/* 푸터 */
.common__footer {
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.common__footer .footer__left-area {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.common__footer .footer__right-area {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.common__footer .footer__logo {
  margin-left: 5px;
  margin-top: 15px;
  display: flex;
  width: 20%;
  height: 30%;
}
.common__footer img {
  width: 100%;
  height: 100%;
}
.common__footer .footer__inc-info {
  padding: 30px;
  padding-top: 10px;
  padding-left: 0px;
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.common__footer .footer__icons {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.common__footer .footer__inc-info span {
  font-size: 10px;
  margin-left: 10px;
}

/* 레인지 */
.just__text__item {
  margin-top: 10px;
}
.sysdate {
  border-bottom: 1px solid rgb(202, 202, 202);
  margin-bottom: 10px;
}
