body {
  height: 100vh;
}
main {
  height: 100%;
}
main .inner {
  padding-top: 60px;
  display: flex;
  height: 100%;
}
main .inner .section__login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

main .inner .section__banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.section__banner .img__wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6374e8;
}
.section__banner img {
  max-width: 100%;
  max-height: 500px;
}
.section__banner .login__nav {
  min-height: 130px;
  background: #6374e8;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.login__nav li {
  box-sizing: border-box;
  width: 150px;
  height: 130px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.login__nav li + li {
  border-left: 1px solid #e5e5e5;
}
.login__nav li:hover {
  background: #eaecff;
}
.login__nav li:hover span,
.login__nav li:hover b {
  transform: scale(1.1);
}
.login__nav li span {
  transition: all 0.3s;
  font-size: 13px;
}
.login__nav li b {
  transition: all 0.3s;
  font-size: 20px;
  font-weight: bold;
}
.section__login h1 {
  font-size: 40px;
  line-height: 1.4;
}
.section__login h1 strong {
  font-weight: bold;
}
.section__login .login__title {
  width: 30%;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.login__title h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
}
.section__login small {
  width: 70%;
  text-align: end;
  display: inline-block;
  font-size: 12px;
  padding: 10px 0;
  color: #777;
  cursor: pointer;
}
.section__login .forgot-email:hover {
  color: #000;
}
#alert_check_pwd {
  display: none;
  color: red;
}
.login__btn__wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.login__btn__wrapper .btn {
  width: 47%;
  height: 36px;
  margin-top: 20px;
}
.form__container {
  position: relative;
  transition: all 0.3s;
}
.form_move {
  transform: translateX(-600px);
}
.initial__info {
  transition: all 0.3s;
}
.form_move .initial__info {
  opacity: 0;
}
.more__info {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateX(600px);
}
.more__info select {
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../assets/keyboard_arrow_down-24px.svg") no-repeat 100% 50%; /* 화살표 모양의 이미지 */
}
.more__info select::-ms-expand {
  display: none;
}

#edit-pwd-modal-form {
  display: none;
}
