.modal{
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal__overlay{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height: 100%;
}
.modal__content{
    width:400px;
    height:500px;
    background-color: #fff;
    /* border-radius: 10px; */
    position: fixed;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
}
.modal__content .content__inner{
    padding: 20px;
    height: 100%;
    width:380px;
}
.modal__title h2{
    margin: 5px 0px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
.modal__member__content{
    /* border:red 1px solid; */
    height:300px;
    overflow: auto;

}
.email p, .position p{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.content__inner .email{
margin-top: 15px;
}
.email input, .position input{
    width:100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #000;
    outline: none;
    transition: all 0.2s;
}
.email input:focus, .position input:focus{
    border-bottom: 2px solid #000;
    width:80%;
}
.email input::-webkit-search-decoration,
.email input::-webkit-search-cancel-button {
    display: none;
}
.member__avatar{
border-radius: 100%;
border: solid 1px #e5e5e5;
 width:60px;
 height:60px;
}
.member__avatar img{
    border-radius: 100%;
    width:100%;
    height:100%;
}
.modal__member__content .charater__info{
    height:100px;
    margin:0;
    padding:0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.charater__info .charater__info__left{
    display: flex;
    align-items: center;
}
.add__member__check{
    display: flex;
    align-items: center;
}
.add__member__info{
    flex:5;
    display: flex;
    flex-direction: column;
    margin-left:10px;
    padding:0;
    gap:7px;
    list-style: none;
}
.add__member__check input{
    flex:1;
}
.button__box{
    margin-top:10px;
    display: flex;
    justify-content: center;
    gap:30px;
}
.hidden{
    display: none;
}