<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recruitEnform</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/recuritEnform.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="left__header">
          <div class="logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div>

          <ul class="header__nav">
            <li class="header__nav-item">PARTNER</li>
            <li class="header__nav-item">COMPANY</li>
            <li class="header__nav-item">EMPLOYMENT</li>
          </ul>
        </div>

        <div class="right__header">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </div>
      </div>
    </header>

    <main class="content__section">
      <div class="inner">
        <div class="section__title">
          <h1>채용등록</h1>
        </div>

        <div class="main__main__section">
          <div class="main__section__left">
            <div class="section__left__top">
                <div class="logo">
                    <img src="../../assets/avatar.png" alt="">
                </div>
                <div class="logo__info">
                    <strong>이미지</strong>
                    <span>사무실이나 구성원 등 기업을 소개할 수 있는 이미지를 업로드 해주세요.</span>
                    <input type="file">
                </div>
            </div>
            <div class="section__left__bottom">
                <strong>Job Title</strong>
                <input type="text" placeholder="예시) 함께할 디자이너를 모셔요!">
            </div>
        </div>
        <div class="section__right__nav">
            <ul class="right__nav">
                <li>이미지</li>
                <li>Job Title</li>
                <li>전문기술</li>
                <li>채용분야</li>
                <li>경력여부</li>
                <li>연봉</li>
                <li>채용상세</li>
            </ul>
        </div>
      </div>
    </main>
  </body>
</html>
