<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN || NUKA-COLA</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/login.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="left__header">
          <div class="logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div>
          <ul class="header__nav">
            <li class="header__nav-item">PARTNER</li>
            <li class="header__nav-item">COMPANY</li>
            <li class="header__nav-item">EMPLOYMENT</li>
          </ul>
        </div>
        <div class="right__header">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </div>
      </div>
    </header>

    <!-- 메인메뉴 -->
    <div class="main__menu__container">
      <div class="inner">
        <div class="menu__left">
          <div class="search__box">
            <input type="text" placeholder="검색어를 입력해주세요" />
            <i class="material-icons"> search </i>
          </div>
          <ul class="menu__nav">
            <li><a href="#">TIME LINE</a></li>
            <li><a href="#">PARTNERS</a></li>
            <li><a href="#">COMPANIES</a></li>
            <li><a href="#">EMPLOYMENT</a></li>
          </ul>
        </div>
        <div class="menu__right">
          <p>어서오세요 <b>가나다</b>님</p>
          <ul>
            <li>알림</li>
            <li>메시지</li>
            <li>PROFILE</li>
            <li>LOGOUT</li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      document.querySelector(".right__header").addEventListener("click", () => {
        if (
          document
            .querySelector(".main__menu__container")
            .classList.contains("main__menu-active")
        ) {
          document.querySelector(".main__menu__container").style.animation =
            "slideOffMenu 0.5s ease-in-out forwards";
          setTimeout(() => {
            document
              .querySelector(".main__menu__container")
              .classList.toggle("main__menu-active");
            document.querySelector(".main__menu__container").style.animation =
              "slideMenu 0.5s ease-in-out forwards";
          }, 300);
        } else {
          document
            .querySelector(".main__menu__container")
            .classList.toggle("main__menu-active");
        }
      });
    </script>

    <!-- 컨텐츠 -->
    <main>
      <div class="inner">
        <section class="section__login">
          <h1>
            당신의 파트너가 함께 하는&nbsp;곳 <br /><strong>누카콜라</strong
            >입니다.
          </h1>
          <form action="login__form">
            <div class="login__title">
              <h2>LOGIN</h2>
            </div>
            <div class="input__box">
              <label for="">이메일</label>
              <input type="text" />
            </div>
            <small class="forgot-email" id="find-email-btn"
              >이메일이 기억나지 않으세요?</small
            >
            <div class="input__box">
              <label for="">비밀번호</label>
              <input type="text" />
            </div>
            <div class="login__btn__wrapper">
              <button type="button" id="find-pwd-btn" class="btn">
                비밀번호 찾기
              </button>
              <button class="btn btn-blue">로그인</button>
              <button class="btn btn-facebook"></button>
              <button class="btn btn-katok"></button>
            </div>
          </form>
        </section>
        <div class="section__banner">
          <div class="img__wrapper">
            <img src="../../assets/loginImage.jpg" alt="" />
          </div>
          <ul class="login__nav">
            <li>
              <span>회원이신가요?</span>
              <b>LOGIN</b>
            </li>
            <li onClick='location.href="/views/login/signup.html"'>
              <span>처음방문이신가요?</span>
              <b>SIGNUP</b>
            </li>
            <li onClick='location.href="/views/timeline/index.html"'>
              <span>돌러보기</span>
              <b>MORE</b>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!-- 이메일찾기 모달 -->
    <div id="find-email-modal" class="modal__wrapper">
      <div id="find-email-modal-box" class="modal__box">
        <h1 id="find-email-modal-title">이메일 찾기</h1>
        <form id="find-email-modal-form" class="modal__form">
          <div class="input__box">
            <label for="">이름</label>
            <input type="text" />
          </div>
          <div class="input__box">
            <label for="">생년월일</label>
            <input type="text" />
          </div>
          <div class="input__box">
            <label for="">본인확인 질문</label>
            <select name="are-u" id="">
              <option value="출신 초등학교 이름">출신초등학교 이름은?</option>
              <option value="어머니의 성함">어머니의 성함은?</option>
              <option value="나의 보물 1호">나의 보물 1호는?</option>
            </select>
          </div>
          <div class="input__box">
            <label for="">질문의 답</label>
            <input type="text" />
          </div>
          <div class="login__btn__wrapper">
            <button type="button" id="find-email-close" class="btn">
              닫기
            </button>
            <button type="button" class="btn btn-blue">찾기</button>
          </div>
        </form>
      </div>
    </div>

    <!-- 비밀번호 찾기 모달 -->
    <div id="find-pwd-modal" class="modal__wrapper">
      <div id="find-pwd-modal-box" class="modal__box">
        <h1 id="find-pwd-modal-title">비밀번호 찾기</h1>
        <form id="find-pwd-modal-form" class="modal__form">
          <div class="input__box">
            <label for="">이메일</label>
            <input type="text" />
          </div>
          <div class="input__box">
            <label for="">생년월일</label>
            <input type="text" />
          </div>
          <div class="input__box">
            <label for="">본인확인 질문</label>
            <select name="are-u">
              <option value="출신 초등학교 이름">출신초등학교 이름은?</option>
              <option value="어머니의 성함">어머니의 성함은?</option>
              <option value="나의 보물 1호">나의 보물 1호는?</option>
            </select>
          </div>
          <div class="input__box">
            <label for="">질문의 답</label>
            <input type="text" />
          </div>
          <div class="login__btn__wrapper">
            <button type="button" class="btn find-pwd-close">닫기</button>
            <button type="button" id="find-pwd-submit" class="btn btn-blue">
              찾기
            </button>
          </div>
        </form>
        <!-- 비번변경 -->
        <form id="edit-pwd-modal-form" class="modal__form">
          <div class="input__box">
            <label for="">비밀번호</label>
            <input id="password" type="text" />
          </div>
          <div class="input__box">
            <label for="">비밀번호 확인</label>
            <input id="password-check" type="text" />
          </div>
          <small id="alert_check_pwd" class="signup-check"
            >비밀번호를 확인해주세요</small
          >
          <div class="login__btn__wrapper">
            <button type="button" class="btn find-pwd-close">닫기</button>
            <button type="button" id="edit-pwd-submit" class="btn btn-blue">
              변경
            </button>
          </div>
        </form>
      </div>
    </div>

    <script defer>
      // 이메일모달오픈
      document
        .querySelector("#find-email-btn")
        .addEventListener("click", () => {
          document
            .querySelector("#find-email-modal")
            .classList.toggle("modal-active");
        });
      // 이메일모달닫기
      document
        .querySelector("#find-email-close")
        .addEventListener("click", () => {
          document.querySelector("#find-email-modal").style.animation =
            "modalFadeOut 0.3s ease-in-out forwards";
          document.querySelector("#find-email-modal-box").style.animation =
            "modalSlideClose 0.3s ease-in-out forwards";
          setTimeout(() => {
            document
              .querySelector("#find-email-modal")
              .classList.toggle("modal-active");

            document.querySelector("#find-email-modal").style.animation =
              "modalFadeIn 0.3s ease-in-out forwards";

            document.querySelector("#find-email-modal-box").style.animation =
              "modalSlideOpen 0.3s ease-in-out forwards";
          }, 300);
        });

      // 비번모달오픈
      document.querySelector("#find-pwd-btn").addEventListener("click", () => {
        document
          .querySelector("#find-pwd-modal")
          .classList.toggle("modal-active");
      });
      // 비번모달닫기
      document.querySelectorAll(".find-pwd-close").forEach((v) => {
        v.addEventListener("click", () => {
          document.querySelector("#find-pwd-modal").style.animation =
            "modalFadeOut 0.3s ease-in-out forwards";
          document.querySelector("#find-pwd-modal-box").style.animation =
            "modalSlideClose 0.3s ease-in-out forwards";
          setTimeout(() => {
            document
              .querySelector("#find-pwd-modal")
              .classList.toggle("modal-active");

            document.querySelector("#find-pwd-modal").style.animation =
              "modalFadeIn 0.3s ease-in-out forwards";

            document.querySelector("#find-pwd-modal-box").style.animation =
              "modalSlideOpen 0.3s ease-in-out forwards";
          }, 300);
        });
      });

      //비밀번호 찾기
      document
        .querySelector("#find-pwd-submit")
        .addEventListener("click", () => {
          //로직추가
          document.querySelector("#find-pwd-modal-title").innerText =
            "비밀번호 변경";
          document.querySelector("#find-pwd-modal-form").style.display = "none";
          document.querySelector("#edit-pwd-modal-form").style.display =
            "initial";
        });
      // 비밀번호확인 체크
      document
        .querySelector("#password-check")
        .addEventListener("input", (e) => {
          if (document.querySelector("#password").value !== e.target.value) {
            document.querySelector("#alert_check_pwd").style.display = "block";
            console.log(document.querySelector("#password").value);
          } else {
            document.querySelector("#alert_check_pwd").style.display = "none";
          }
        });
    </script>
  </body>
</html>
