<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN || NUKA-COLA</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/login.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="left__header">
          <div class="logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div>
          <ul class="header__nav">
            <li class="header__nav-item">PARTNER</li>
            <li class="header__nav-item">COMPANY</li>
            <li class="header__nav-item">EMPLOYMENT</li>
          </ul>
        </div>
        <div class="right__header">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </div>
      </div>
    </header>
    <main>
      <div class="inner">
        <section class="section__login">
          <h1>
            당신의 파트너가 함께 하는&nbsp;곳 <br /><strong>누카콜라</strong
            >입니다.
          </h1>
          <form action="login__form">
            <div class="login__title">
              <h2>LOGIN</h2>
            </div>
            <div class="input__box">
              <label for="">이메일</label>
              <input type="text" />
            </div>
            <small>이메일이 기억나지 않으세요?</small>
            <div class="input__box">
              <label for="">비밀번호</label>
              <input type="text" />
            </div>
            <div class="login__btn__wrapper">
              <button class="btn">비밀번호 찾기</button>
              <button class="btn btn-blue">로그인</button>
              <button class="btn btn-facebook"></button>
              <button class="btn btn-katok"></button>
            </div>
          </form>
        </section>
        <div class="section__banner">
          <div class="img__wrapper">
            <img src="../../assets/loginImage.jpg" alt="" />
          </div>
          <ul class="login__nav">
            <li>
              <span>회원이신가요?</span>
              <b>LOGIN</b>
            </li>
            <li>
              <span>처음방문이신가요?</span>
              <b>SIGNUP</b>
            </li>
            <li>
              <span>돌러보기</span>
              <b>MORE</b>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
