<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/companyProfile-main.css" />
</head>
<body>
    <header>
        <div class="inner">
          <div class="left__header">
            <div class="logo">
              <img src="../../assets/logo.png" alt="logo" />
            </div>
            <ul class="header__nav">
              <li class="header__nav-item">PARTNER</li>
              <li class="header__nav-item">COMPANY</li>
              <li class="header__nav-item">EMPLOYMENT</li>
            </ul>
          </div>
          <div class="right__header">
            <i class="material-icons">menu</i>
            <span>MENU</span>
          </div>
        </div>
    </header>
      <section class="visual__section">
        <div class="inner">
          <div class="visual__left">
            <div class="avatar">
                <img src= "../../assets/moomin.jpg" alt="logo">
            </div>
            <div>
              <div class="main__info">
                <strong>RIDI BOOKS</strong>
                <span>Since 2017</span>
                <span>1003 명의 구성원</span>
                <span>Bookstore@gmail.com</span>
              </div>
              <ul class="people__info">
                <li>팔로우 <strong>102</strong></li>
                <li>채용중인글 <strong>3</strong></li>
              </ul>
            </div>
          </div>
          <button class="btn visual__right">구성원 추가</button>
        </div>
      </section>

      <main class="content__section">
          <div class="inner">
              <div class="section__title">
                  <ul>
                      <li class="nav-active">ABOUT</li>
                      <li>채용</li>
                      <li>구성원</li>
                  </ul>
              </div>
              <div class="content__wrapper">
                <div class="section__content__title">
                    <strong>기업 소개</strong>
                    <div class="edit__field">
                        <i class="material-icons">create</i>
                    </div>
                </div>
                <span class="just__text">
                    안녕하세요? <br>
                    리디북스입니다^ㅡㅡ^
                </span>
              </div>
              <div class="main__main__section">
                <div class="main__section__left">
                    <div class="content__wrapper">
                      <ul class="left__info">
                        <li>TOP</li>
                        <li>기업소개</li>
                        <li><strong>산업분야</strong></li>
                        <li>테크스택</li>
                        <li>지역</li>
                        <li>구성원</li>
                      </ul>
                    </div>
                </div>
                <div class="main__section__right">
                    <div class="content__wrapper">
                        <div class="section__content__title">
                            <strong>산업분야</strong>
                            <div class="edit__field">
                                <i class="material-icons">create</i>
                            </div>
                        </div>
                        <div class="section__content__box">
                            <span class="compindus__box">웹서비스</span>
                            <span class="compindus__box">머신런닝</span>
                            <span class="compindus__box">핀테크</span>
                        </div>
                    </div>
                    <div class="content__wrapper">
                        <div class="section__content__title">
                            <strong>테크스택</strong>
                            <div class="edit__field">
                                <i class="material-icons">create</i>
                            </div>
                        </div>
                            <span class="techstack__sort">FRONT-END</span>
                          <div class="section__content__box">
                            <span class="front-end__box">Node.js</span>
                            <span class="front-end__box">React.js</span>
                            <span class="front-end__box">Redux</span>
                            <span class="front-end__box">CSSinJS</span>
                          </div>
                            <span class="techstack__sort">BACK-END</span>
                          <div class="section__content__box">
                            <span class="back-end__box">Node.js</span>
                            <span class="back-end__box">Express.js</span>
                            <span class="back-end__box">MySQL</span>
                          </div>
                            <span class="techstack__sort">DEV_OPS</span>
                          <div class="section__content__box">
                            <span class="dev-ops__box">EC2</span>
                            <span class="dev-ops__box">JEST</span>
                            <span class="dev-ops__box">Docker</span>
                          </div>
                    </div>
                    <div class="content__wrapper">
                        <div class="section__content__title">
                            <strong>지역</strong>
                            <div class="edit__field">
                                <i class="material-icons">create</i>
                            </div>
                        </div>
                        <span class="just__text">
                            서울시 서초구 누카빌딩 콜라센터1F
                        </span>
                    </div>
                    <div class="content__wrapper">
                        <div class="section__content__title">
                            <strong>구성원</strong>
                        </div>
                        <div class="section__member">
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elon Reeve Musk</strong>
                                    <p>데이터분석 @ 삼성전자</p>
                                </div>
                            </div>
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elonk</strong>
                                    <p>데이터분석 @ 삼성전자</p>
                                </div>
                            </div>
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elon</strong>
                                    <p>빅데이터 @ 삼성전자</p>
                                </div>
                            </div>
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elon Reeve Musk</strong>
                                    <p>데이터분석 @ 삼성전자</p>
                                </div>
                            </div>
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elon Reeve Musk</strong>
                                    <p>데이터분석 @ 삼성전자</p>
                                </div>
                            </div>
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elon Reeve Musk</strong>
                                    <p>데이터분석 @ 삼성전자</p>
                                </div>
                            </div>
                            <div class="content__profile">
                                <img class="circle" src="../../assets/juckerbug.jpg" alt="PROFILE">
                                <div class="content__introduce">
                                    <strong>Elon Reeve Musk</strong>
                                    <p>데이터분석 @ 삼성전자</p>
                                </div>
                            </div>
                        </div>
                        <div class="section__more-member">
                          <button class="btn visual__right">MORE</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </main>

    
</body>
</html>