<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COMPANY PROFILE</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/profile(member).css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="left__header">
          <div class="logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div>
          <ul class="header__nav">
            <li class="header__nav-item">PARTNER</li>
            <li class="header__nav-item">COMPANY</li>
            <li class="header__nav-item">EMPLOYMENT</li>
          </ul>
        </div>
        <div class="right__header">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </div>
      </div>
    </header>
    <section class="visual__section">
      <div class="inner">
        <div class="visual__left">
          <div class="avatar">
            <img src="../../assets/avatar.png" alt="" />
          </div>
          <div>
            <div class="main__info">
              <strong>유원근</strong>
              <span>Apple.inc @ CEO</span>
              <span>Node.js / React.js / Vue.js / Java</span>
            </div>
            <ul class="people__info">
              <li>팔로우 <strong>102</strong></li>
              <li>팔로우 <strong>102</strong></li>
              <li>팔로우 <strong>102</strong></li>
            </ul>
          </div>
        </div>
        <button class="btn visual__right">구성원추가</button>
      </div>
    </section>
    <main class="content__section">
      <div class="inner">
        <div class="section__title">
          <ul>
            <li>ABOUT</li>
            <li>채용</li>
            <li class="nav-active">구성원</li>
          </ul>
        </div>
        <div class="main__main__section">
            <div class="main__section__left">
                <div class="content__wrapper">
                  <ul class="left__info">
                    <li><a href="#"><strong>TOP</strong></a></li>
                    <li><a href="#">주요구성원</a></li>
                    <li><a href="#">구성원</a></li>
                  </ul>
                </div>
              </div>
          <div class="main__section__right">
            <div class="content__wrapper">

              <!-- 주요인물 -->
              <div class="main_character">
                <div class="main_character__left">
                    <h2>대표</h2>
                    <div class="charater__info">
                      <div class="member__avatar">
                        <img src="../../assets/avatar.png" alt="" />
                      </div>
                      <div class="member__info__list">
                        <ul class="member__info">
                            <li><strong>Elon Reeve Musk</strong></li>
                            <li>TESLA,SPACE x @CEO</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="main_character__right">
                  <h2>채용담당자</h2>
                  <div class="charater__info">
                    <div class="member__avatar">
                      <img src="../../assets/avatar.png" alt="" />
                    </div>
                    <div class="member__info__list">
                      <ul class="member__info">
                        <li><strong>Elon Reeve Musk</strong></li>
                        <li>TESLA,SPACE x @CEO</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>


              <!-- 구성원 -->
              <div class="member">
                <h2>구성원</h2>
                  <div class="box">
                    <!-- 구성원 결과 for문 -->
                    <div class="charater__info">
                      <div class="member__avatar">
                        <img src="../../assets/avatar.png" alt="" />
                      </div>
                      <div class="member__info__list">
                        <ul class="member__info">
                            <li><strong>Elon Reeve Musk</strong></li>
                            <li>TESLA,SPACE x @CEO</li>
                        </ul>
                      </div>
                    </div>

                    <div class="charater__info">
                      <div class="member__avatar">
                        <img src="../../assets/avatar.png" alt="" />
                      </div>
                      <div class="member__info__list">
                        <ul class="member__info">
                            <li><strong>Elon Reeve Musk</strong></li>
                            <li>TESLA,SPACE x @CEO</li>
                        </ul>
                      </div>
                    </div>

                    <div class="charater__info">
                      <div class="member__avatar">
                        <img src="../../assets/avatar.png" alt="" />
                      </div>
                      <div class="member__info__list">
                        <ul class="member__info">
                            <li><strong>Elon Reeve Musk</strong></li>
                            <li>TESLA,SPACE x @CEO</li>
                        </ul>
                      </div>
                    </div>

                    <div class="charater__info">
                      <div class="member__avatar">
                        <img src="../../assets/avatar.png" alt="" />
                      </div>
                      <div class="member__info__list">
                        <ul class="member__info">
                            <li><strong>Elon Reeve Musk</strong></li>
                            <li>TESLA,SPACE x @CEO</li>
                        </ul>
                      </div>
                    </div>

                    <!-- 구성원 결과 for문 -->
                  
              </div>

              <div class="member_btn">
                <button class="btn">more</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
  </body>
</html>
