<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!--footer 사용 시 위의 font-awesome cdn 같이 붙여줘야 아이콘들도 출력됩니다!!-->
  <footer class="common__footer">
    <div class="footer__left-area">
      <div class="footer__logo">
          <img src="../../assets/nuka-cola-fake-logo.PNG" alt="logo">
      </div>
      <div class="footer__inc-info">
        <span>상호명 : 누카콜라</span>
        <span>공동대표 : 정찬복 유원근 손지원 성수지 배진원 이준호</span>
        <span>사업자등록번호 : 999-99-88282</span>
        <span>주소 : MountainView, CA, USA. Santa Clara Country</span>
        <span>이메일 : devcat123@gmail.com</span>
      </div>
    </div>
    <div class="footer__right-area">
      <div class="footer__icons">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </footer>
</body>
</html>