<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN || NUKA-COLA</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/timeline.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="left__header">
          <div class="logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div>
          <ul class="header__nav">
            <li class="header__nav-item">PARTNER</li>
            <li class="header__nav-item">COMPANY</li>
            <li class="header__nav-item">EMPLOYMENT</li>
          </ul>
        </div>
        <div class="right__header">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </div>
      </div>
    </header>
    <main>
      <div class="inner">
        <div class="timeline__section-left">
          <h1>TIMELINE</h1>

          <!-- 타임라인배너 -->
          <div class="content__wrapper content_title_banner">
            <p>WHAT HAPPENED TODAY?</p>
            <img src="../../assets/timeline_title_img.png" alt="배너이미지" />
          </div>

          <!-- 게시글작성 -->
          <div class="content__wrapper post_form_wrapper">
            <h3>새로운 게시글 작성</h3>
            <form action="" class="post_form">
              <span>오늘은 무슨일이 있었나요?</span>
              <textarea name="" id=""></textarea>
              <div class="post_form-btn-wrapper">
                <div class="image__input_box">
                  <input type="file" hidden />
                  <p>이미지</p>
                  <i class="material-icons"> wallpaper </i>
                </div>
                <button class="btn btn-blue">등록</button>
              </div>
            </form>
            <button class="post_form-btn">+</button>
          </div>

          <!-- 게시글아이템 -->
          <div class="content__wrapper post__item-wrapper">
            <div class="post__user-info">
              <div class="avatar-small">
                <img src="../../assets/avatar.png" alt="" />
              </div>
              <div class="user__summary">
                <strong>Tim Cook</strong>
                <small>Apple.inc @ CEO</small>
              </div>
              <div class="follow__btn">
                <i class="material-icons">person_add</i>
                <p>FOLLOW</p>
              </div>
            </div>
            <article>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry’s standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </article>
            <span class="post__date">2020 - 11 - 31</span>
            <div class="post__btn__wrapper">
              <div class="like_btn">
                <i class="material-icons"> thumb_up_alt </i>
                <span>LIKE</span>
              </div>
              <div class="comment-open like_btn">
                <i class="material-icons"> comment </i>
                <span>COMMENT</span>
              </div>
            </div>

            <!-- 댓글목록 -->
            <ul class="post__comment_list">
              <li>
                <div class="post__user-info">
                  <div class="avatar-small">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="user__summary">
                    <strong>Bill Gates</strong>
                    <small>MicroSoft @ CSAS</small>
                  </div>
                  <span class="post__date">2020 - 11 - 31</span>
                </div>
                <p class="comment_content">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
                <!-- <div class="comment__btn-wrapper">
                  <span>수정</span>
                  <span>삭제</span>
                </div> -->
              </li>
              <li>
                <div class="post__user-info">
                  <div class="avatar-small">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="user__summary">
                    <strong>Bill Gates</strong>
                    <small>MicroSoft @ CSAS</small>
                  </div>
                  <span class="post__date">2020 - 11 - 31</span>
                </div>
                <p class="comment_content">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
                <!-- <div class="comment__btn-wrapper">
                  <span>수정</span>
                  <span>삭제</span>
                </div> -->
              </li>
            </ul>
          </div>

          <div class="content__wrapper post__item-wrapper">
            <div class="post__user-info">
              <div class="avatar-small">
                <img src="../../assets/avatar.png" alt="" />
              </div>
              <div class="user__summary">
                <strong>Tim Cook</strong>
                <small>Apple.inc @ CEO</small>
              </div>
              <div class="follow__btn">
                <i class="material-icons">person_add</i>
                <p>FOLLOW</p>
              </div>
            </div>
            <article>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry’s standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </article>
            <span class="post__date">2020 - 11 - 31</span>
            <div class="post__btn__wrapper">
              <div class="like_btn">
                <i class="material-icons"> thumb_up_alt </i>
                <span>LIKE</span>
              </div>
              <div class="comment-open like_btn">
                <i class="material-icons"> comment </i>
                <span>COMMENT</span>
              </div>
            </div>

            <!-- 댓글목록 -->
            <ul class="post__comment_list">
              <li>
                <div class="post__user-info">
                  <div class="avatar-small">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="user__summary">
                    <strong>Bill Gates</strong>
                    <small>MicroSoft @ CSAS</small>
                  </div>
                  <span class="post__date">2020 - 11 - 31</span>
                </div>
                <p class="comment_content">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
                <!-- <div class="comment__btn-wrapper">
                            <span>수정</span>
                            <span>삭제</span>
                          </div> -->
              </li>
              <li>
                <div class="post__user-info">
                  <div class="avatar-small">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="user__summary">
                    <strong>Bill Gates</strong>
                    <small>MicroSoft @ CSAS</small>
                  </div>
                  <span class="post__date">2020 - 11 - 31</span>
                </div>
                <p class="comment_content">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
                <!-- <div class="comment__btn-wrapper">
                            <span>수정</span>
                            <span>삭제</span>
                          </div> -->
              </li>
            </ul>
          </div>
        </div>
        <div class="timeline__section-rifht">
          <div class="content__wrapper profile__content">
            <div class="user__profile">
              <div class="avatar-mid">
                <img src="../../assets/avatar.png" alt="" />
              </div>
              <ul>
                <li><span>팔로워</span> <b>18</b></li>
                <li><span>팔로잉</span> <b>28</b></li>
                <li><span>연결</span> <b>8</b></li>
              </ul>
            </div>
            <div class="profile__summary">
              <p>유원근님</p>
              <span>MicroSoft@AzureInterfaceEngineer</span>
            </div>
            <div class="profile__btn_wrapper">
              <button class="btn">PROFILE</button>
              <button class="btn btn-blue">LOGOUT</button>
            </div>
          </div>
          <div class="content__wrapper recommend__comp">
            <p class="rec__comp_title">기업추천</p>
            <ul>
              <li>
                <div class="comp_avatar">
                  <img src="../../assets/loginImage.jpg" alt="" />
                </div>
                <div class="comp_summary">
                  <b>Rocket Punch</b>
                  <span>Social Network</span>
                  <span>200명의 구성원</span>
                </div>
              </li>
              <li>
                <div class="comp_avatar">
                  <img src="../../assets/loginImage.jpg" alt="" />
                </div>
                <div class="comp_summary">
                  <b>Rocket Punch</b>
                  <span>Social Network</span>
                  <span>200명의 구성원</span>
                </div>
              </li>
              <li>
                <div class="comp_avatar">
                  <img src="../../assets/loginImage.jpg" alt="" />
                </div>
                <div class="comp_summary">
                  <b>Rocket Punch</b>
                  <span>Social Network</span>
                  <span>200명의 구성원</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script defer>
    document.querySelector(".post_form-btn").addEventListener("click", (e) => {
      document
        .querySelector(".post_form_wrapper")
        .classList.toggle("post_form-active");
    });
    document.querySelectorAll(".comment-open").forEach((v, i) =>
      v.addEventListener("click", () => {
        v.classList.toggle("comment_btn_active");
        document
          .querySelectorAll(".post__comment_list")
          [i].classList.toggle("comment_list_active");
      })
    );
  </script>
</html>
