<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RECRUIT-DETAIL-REPO</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/recruit-detail.css" />
  <link rel="stylesheet" href="../../css/recruit-detail-repo.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/footer.css">
</head>
<body>

  <!-- 메뉴바 -->
  <header>
    <div class="inner">
      <div class="left__header">
        <div class="logo">
          <img src="../../assets/logo.png" alt="logo" />
        </div>
        <ul class="header__nav">
          <li class="header__nav-item">PARTNER</li>
          <li class="header__nav-item">COMPANY</li>
          <li class="header__nav-item">EMPLOYMENT</li>
        </ul>
      </div>
      <div class="right__header">
        <i class="material-icons">menu</i>
        <span>MENU</span>
      </div>
    </div>
  </header>
  <!-- 메뉴바 끝 -->

  <!--제목부분-->
  <section class="recruit__title__section">
    <div class="inner">
      <div class="left__section">
        <div class="title__info">
          <strong>데브캣 개발자 모집</strong>
          <span>7000 - 12,000만원 (비공개)</span>
          <span>신입 / 경력</span>
        </div>
      </div>
      <div class="right__section">
        <div class="email__info">
          <span>magho909@gmail.com</span>
        </div>
      </div>
    </div>
  </section>

  <!--내용 폼-->
  <main class="recruit__all__wrapper">

    <div class="inner">

      <!--기업소개부분-->
      <section class="recruit__content recruit__intro">
        <div class="recruit__content__title">
          <strong>기업소개</strong>
        </div>
          <p>
            Tesla, Inc. (formerly Tesla Motors, Inc.) is an American electric vehicle and clean energy company based in Palo Alto, California. Tesla's current products include electric cars (the Model S, Model 3, Model X, and Model Y), battery energy storage from home to grid scale (the Powerwall, Powerpack, and Megapack), solar panels and solar roof tiles, and related products and services.
          </p>
      </section>

      <div class="recruit__second-wrapper">
        <!--채용정보들 감싸주는 wrapper-->
        <div class="recruit__left-contents__wrapper">
          <section class="recruit__content">
            <div class="recruit__content__title">
              <strong>주요업무</strong>
            </div>
            <p>
              - Front-end <br>
              - Data Analysis <br>
              - Natural Language processing
            </p>
          </section>
          <section class="recruit__content">
            <div class="recruit__content__title">
              <strong>관련기술</strong>
            </div>
            <div class="recruit__content__techs">
              <span>Node.js</span>
              <span>Express</span>
              <span>MySQL</span>
              <span>React.js</span>
              <span>Node.js</span>
              <span>Express</span>
              <span>MySQL</span>
              <span>React.js</span>
              <span>Node.js</span>
              <span>React.js</span>
              <span>Hadoop</span>
              <span>Python</span>
            </div>
          </section>
          <section class="recruit__content">
            <div class="recruit__content__title">
              <strong>지역</strong>
            </div>
            <p class="recruit__content__area">
              서울시 강남구 역삼로
            </p>
          </section>
          <section class="recruit__content">
            <div class="recruit__content__title">
              <strong>채용상세</strong>
            </div>
            <p>
              <ul>
                <li>담당업무</li>
                <li>- 전반적인 시스템 개발 및 유지보수</li>
              </ul><br>
              <ul>
                <li>자격요건</li>
                <li>- 신입 또는 경력</li>
              </ul><br>
              <ul>
                <li>우대사항</li>
                <li>- 스스로 학습하는 재미를 느끼는 분</li>
                <li>- 질문에 거침없는 분</li>
                <li>- 끈질긴 분</li>
              </ul><br>
              <ul>
                <li>담당업무</li>
                <li>- 전반적인 시스템 개발 및 유지보수</li>
              </ul><br>
              <ul>
                <li>자격요건</li>
                <li>- 신입 또는 경력</li>
              </ul><br>
            </p>
          </section>
        </div><!--recruit__left-contents__wrapper끝-->
        
        <!--지원자보기 등 버튼,채용담당자 감싸는 wrapper-->
        <div class="recruit__right-contents__wrapper">
          
          <div class="recruit__btns__wrapper">
            <div class="item1 recruit__content">
              <button type="button">지원자 보기 (0)</button>
              <button type="button">북마크한 사람 (0)</button>
              <button type="button">채용정보 수정</button>
              <span onclick="showRepo()">채용 정보 신고</span>
            </div>
            <div class="item2 recruit__content item2">
              <!--박스 오른쪽 파란띠 부분-->
            </div>
          </div>
          <div class="recruit__manager recruit__content">
            <div class="recruit__manager__title">
              <ul>
                <li>채용 담당자</li>
                <li>지원전 궁금한 것들을 물어보세요!</li>
              </ul>
            </div>
            <div class="recruit__manager__profile">
              <div class="manager__img">
                <img src="../../assets/avatar.png" alt="프사">
              </div>
              <ul class="recruit__manager__info">
                <li>AlphaGo</li>
                <li>데이터분석 @삼성전자</li>
              </ul>
            </div>
            <div class="recruit__manager__info-table">
              <table>
                <tr>
                  <th>채용 분야</th>
                  <td>SW 개발</td>
                </tr>
                <tr>
                  <th>원격근무</th>
                  <td>가능</td>
                </tr>
                <tr>
                  <th>경력 여부</th>
                  <td>신입, 경력</td>
                </tr>
                <tr>
                  <th>연봉</th>
                  <td>7000 ~ 12,000만원</td>
                </tr>
                <tr>
                  <th>등록일</th>
                  <td>2020-11-25</td>
                </tr>
              </table>
            </div>
          </div>
        </div><!--recruit__right-contents__wrapper끝-->
      </div><!--recruit__second-wrapper끝-->

    </div><!--inner끝-->
  </main>
  <footer class="common__footer">
    <div class="footer__left-area">
      <div class="footer__logo">
          <img src="../../assets/footer-logo.PNG" alt="logo">
      </div>
      <div class="footer__inc-info">
        <span>상호명 : 누카콜라</span>
        <span>공동대표 : 정찬복 유원근 손지원 성수지 배진원 이준호</span>
        <span>사업자등록번호 : 999-99-88282</span>
        <span>주소 : MountainView, CA, USA. Santa Clara Country</span>
        <span>이메일 : devcat123@gmail.com</span>
      </div>
    </div>
    <div class="footer__right-area">
      <div class="footer__icons">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </footer>


  <!--채용신고폼-->
  <!-- 
  <div class="recruit-detail__report-form__background">

    <div class="recruit-detail__report-form">
      <form action="">
        <div class="report-form__item1">
          <strong>채용 정보 신고</strong>
        </div>
        <div class="report-form__item2">
          <textarea name="" cols="30" rows="10" placeholder="사유를 입력해 주세요" required></textarea>
        </div>
        <div class="report-form__item3">
          <button type="submit">신고</button>
          <button type="button" onclick="hideRepo()">취소</button>
        </div>
      </form>
    </div>

  </div>
   -->

<script>
  function showRepo(){
    let repoForm = document.querySelector('.recruit-detail__report-form__background');
    repoForm.style.display='block';
  }

  function hideRepo(){
    let repoForm = document.querySelector('.recruit-detail__report-form__background');
    console.log(repoForm.style);
    repoForm.style.display='none';
  }
</script>
</body>
</html>