<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recruit-interview</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/recruit/recruit-detail-interview.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="left__header">
          <div class="logo">
            <img src="../../assets/logo.png" alt="logo" />
          </div>

          <ul class="header__nav">
            <li class="header__nav-item">PARTNER</li>
            <li class="header__nav-item">COMPANY</li>
            <li class="header__nav-item">EMPLOYMENT</li>
          </ul>
        </div>

        <div class="right__header">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </div>
      </div>
    </header>

    <main class="content__section">
      <div class="inner">
        <h5>홈 / 기업 / 회사명 / 채용정보</h5>
        <div class="main__section">
          <div class="main__section__right">
            <div class="interview__step">
              <div class="interview__step-progress">
                서류접수 ---- 서류합격 ---- 팀 합류
              </div>
              <div class="interview__step-admin">
                <select name="" id="">
                  <option value="" selected>단계변경</option>
                  <option value="">서류합격</option>
                  <option value="">팀합류</option>
                  <option value="">탈락</option>
                </select>
              </div>
            </div>

            <div class="content__carrer">
              <strong>경력</strong>
              <div class="content__carrer-one">
                <div class="carrer-one__img">
                  <img src="../../assets/avatar.png" alt="" />
                </div>
                <div class="carrer-one__companyName">
                  <span>네이버</span>
                </div>
                <div class="carrer-one__detail">
                  <span>백엔드 개발자</span>
                  <span>재직중</span>
                </div>
              </div>

              <div class="content__carrer-one">
                <div class="carrer-one__img">
                  <img src="../../assets/avatar.png" alt="" />
                </div>
                <div class="carrer-one__companyName">
                  <span>네이버</span>
                </div>
                <div class="carrer-one__detail">
                  <span>백엔드 개발자</span>
                  <span>재직중</span>
                </div>
              </div>

              <div class="content__carrer-one">
                <div class="carrer-one__img">
                  <img src="../../assets/avatar.png" alt="" />
                </div>
                <div class="carrer-one__companyName">
                  <span>네이버</span>
                </div>
                <div class="carrer-one__detail">
                  <span>백엔드 개발자</span>
                  <span>재직중</span>
                </div>
              </div>
            </div>

            <div class="content__edu">
              <strong>학력</strong>
              <div class="content__edu-detail">
                <strong>데브캣대학교</strong>
                <strong
                  >공간환경 디자인 전공(석사), 디자인학과 전공(학사)</strong
                >
                <span>2005년~2012년 졸업</span>
              </div>
            </div>

            <div class="content__usingTech">
              <strong>활동 분야</strong>
              <div class="content__usigTech-list">
                <button>브랜드디자인</button>
                <button>BX디자인</button>
                <button>Sketch</button>
                <button>Sketch</button>
                <button>Java</button>
                <button>React</button>
                <button>Node.js</button>
                <button>JavaScript</button>
              </div>
            </div>
          </div>
          <div class="main__section__left">
            <div class="content__message-sending">
              <input
                type="text"
                placeholder="(기업,지원자)에게 메세지 보내기"
              />
              <button type="submit">전송</button>
            </div>

            <div class="content__message-box">
              <div class="message-box__info">
                <div class="message-box__info-img">
                  <img src="../../assets/avatar.png" alt="" />
                </div>
                <div class="message-box__info-userName">
                  <span>김땡떙</span>
                </div>
                <div class="message-box__info-sendingTime">
                  <span>10분전</span>
                </div>
              </div>
              <div class="message-box__content">
                <p>입사시켜주십시오</p>
              </div>
            </div>
              <div class="content__message-box">
                <div class="message-box__info">
                  <div class="message-box__info-img">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="message-box__info-userName">
                    <span>김뫄뫄</span>
                  </div>
                  <div class="message-box__info-sendingTime">
                    <span>30분전</span>
                  </div>
                </div>
                <div class="message-box__content">
                  <p>
                    안녕하세요 김뫄뫄입니다. <br />
                    부탁하신 누락된 서류 제출했습니다. <br />
                    확인부탁드립니다. 감사합니다. <br />
                  </p>
                </div>
              </div>

              <div class="content__message-box">
                <div class="message-box__info">
                  <div class="message-box__info-img">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="message-box__info-userName">
                    <span>김무무</span>
                  </div>
                  <div class="message-box__info-sendingTime">
                    <span>1일전</span>
                  </div>
                </div>
                <div class="message-box__content">
                  <p>
                    안녕하세요 xxx입니다. <br />
                    안타깝지만 불합격입니다. <br />
                    앞으로 더 좋은 기회 있길 바랍니다. <br />
                    감사합니다.
                  </p>
                </div>
              </div>

              <div class="content__message-box">
                <div class="message-box__info">
                  <div class="message-box__info-img">
                    <img src="../../assets/avatar.png" alt="" />
                  </div>
                  <div class="message-box__info-userName">
                    <span>김뫄뫄</span>
                  </div>
                  <div class="message-box__info-sendingTime">
                    <span>3일전</span>
                  </div>
                </div>
                <div class="message-box__content">
                  <p>
                    안녕하세요. xxx입니다. <br />
                    지원하신 서류 모두 검토 완료되었습니다. <br />
                    첨부하신 자료중에 xxx이 누락되어 재첨부 합니다. <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
